body {
  margin: 0;
  text-align: center;
  font-family: 'Amita', cursive;
}

/*** use rem instead of pixel or percentages**/
h1 {
  font-family: 'Playball', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF

}

h2 {
  font-family: 'Amita', cursive;
  font-size: 2.5rem;
  color: #11999E;
  font-weight: normal;
  padding: 10px;

}
h3{
  color:#11999E;

}

p {
  font-family: 'Tinos', serif;
  font-size: 20px;
  color: #40514E;
}

.top-container {
  background-color: #f1f1f1;
  padding-top: 100px;
  position: relative;


}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  color:#EAF6F6;
  margin-top: 40px;
  padding: 30px;
}

.prog {
  text-decoration: underline;
}

.lower-cloud {
  position: absolute;
}

.upper-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}



.skill-row{
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;




}
.web-developing{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.powerlifting{
  width:25%;
  float: right;
  margin-left: 30px;
}
hr{

    border-style: none;
  border-top-style: dotted;
  width:50px;
  color: #66BFBF;
  border-width:10px;
  display: inline-block;


}
.footer-link{
  color: #11999E;
}
.contact-me{
  margin-top: 10px;

}

  .btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:#EAF6F6
}
